
// TIPOGRAFÍA

	//font face
		@include font-face( 'AdventPro', 'AdventPro-Regular' );
		@include font-face( 'LatoLight', 'Lato-Light' );
	
	//globales
		*, *:before, *:after {
			@include box-sizing(border-box);
		}
		html {
			font-size: $document-font-size;
		}


			body {
				@include font-size($font-size-base); 
				font-family: $body-text;
				font-weight: $regular; 
				text-rendering: optimizeLegibility; 
				color: $color-text;
				line-height: 1.2;
				background-image: url(../images/bg-texture.png);
				background-color: $color-base;

			}

	// Tamaños
		h1, .alfa {
			@include font-size($font-size-alfa);
		} 
		h2, .beta {
			@include font-size($font-size-beta);
		}
		h3, .gamma {
			@include font-size($font-size-gamma);
		}
		h4, .delta {
			@include font-size($font-size-delta);
		}
		h5, .epsilon {
			@include font-size($font-size-epsilom); 
		}
		h6, .zeta {
			@include font-size($font-size-zeta);
		}

		.giga {
			@include font-size($font-size-giga);
		}
		.mega {
			@include font-size($font-size-mega);
		}
		.kilo {
			@include font-size($font-size-kilo);
		}

		.mili {
			@include font-size($font-size-mili);
		}
		.micro {
			@include font-size($font-size-micro);
		}

	// Encabezados 	
		h1,h2,h3,h4,h5,h6, legend {
			@include text-shadow( 0 -2px 1px rgb(0,0,0) );
			@include rem( margin-bottom, $pad );
			font-family: $heading-text;
			color: #fff;
			font-weight: $regular;
		}
		h1, h2, h3 {
			small {
				font-size: 50%;
				display: block;
				line-height:1;
			}
		}

		legend {
			@include font-size($font-size-zeta);
		}

		label { 

		}

		//Texto enfatizado
		em {
			font-style: normal;
			text-transform: uppercase;
		}



	//Enlaces
		a {	
			color: darken($color-link, 8%);
			text-decoration: none;
			outline: 0px none !important;
			transition: all 500ms;
			&:visited {}
			&:hover {
				text-decoration: underline;
				color: $color-link-hover;
			}
			&:active {}

		}

	//Inline text
		
		abbr[title], dfn[title] {
			cursor:help;
			border-bottom: 1px dotted $color-text;
		}
		
		small {
			font-size: 76%;
		}

		strong {
			font-weight: $semiBold;
		}




	//Horizontal rule
		hr {
			border: 0 none;
			height: 0;
			clear:both;
			display:block;
			@include font-size($font-size-beta);
			@include rem( 'padding', 0 0 24px );
			text-align: center;
		}
			hr:before {
			    color: $color-text;
			    content: "·····";
			    height: 0;
			    letter-spacing: .15em;
			    //padding-left: 1em;
			}


	//Texto preformateado
		pre {
    		white-space: pre-line;			
		}

	//Párrafos
		p {
			@include rem( 'margin', 0 0 24px );
		}
		//entradillas, párrafos destacados
		.lead {
			@include font-size($font-size-delta);
		}
	
	//Listas
	ul, ol, dl {
		margin: 0;
		padding: 0;
	}


	//Blockquotes
		blockquote {
			position: relative; 
			font-style: italic;
			color: $color-text; 
			@include font-size($font-size-base); 

			cite {
				display: block;
			}
		}

		q {
			quotes: "“" "”" "‘" "’";
			&:before {
    		content: open-quote;
			}
			&:after {
			  content: close-quote;
			}
		}


	//Forms
	fieldset {
		margin: 0;
		padding: 0;
		border: none;
	}




//MEDIA
	//Flexible Media
		img, video, object {
			max-width: 100%;
			height: auto;
		}

		iframe {
			
		}

		figure {
			
		
			img {
			
			}
		}
		
			figcaption {
				font-style: italic;
			}



//CLASES GLOBALES
	
	//alineación texto
		.centered {
			text-align: center;
		}		
		.left-align {
			text-align: left;
		}		
		.right-align {
			text-align: right;
		}

	//floats
		.left {
			float: left;
		}
		.right {
			float: right;
		}
		.center {
			margin: 0 auto;
		}
		.no-float {
			float: none;
		}

		.inline-content{
			display: inline-block; 
			float: none;
		}
	
	// Elementos totalmente ocultos del flow y de los lectores de texto.
		.is-vanished {
		    display: none !important;
		    visibility: hidden !important;
		}

	// Oculto del flow, pero accesible a lectores de texto
		.is-hidden, .screen-reader-text {
			@include is-hidden();
		}

		.not-hidden {
			position: relative !important;
			width: auto;
			height: auto;
			top: 0;
		}	

	//Clearfix
		.clearfix {
			@include clearfix();
		}

	//Reduced width centered
	.streched {
		max-width: 80%;
		margin:0 auto;
	}

	//Truncate text with ellipsis, must add 'width' or 'max-width' to parent element!
	.truncate {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}

	//zindex
	.zindex {
		z-index: 444 !important;
	}

	//Mensajes
	//Color for error, warnings, valid messages 
		.valid {
			//color: $color-valid;
		}

		.error, .warning {
			color: $color-error;
		}

		.info {
			//color: $color-info;
		}








