html(lang='en')
  head
    meta(charset='utf-8')
    title Drones must Die
    meta(name='description', content='Drones Must Die')
    meta(name='author', content='Redradix')
    link(rel='stylesheet', href='/assets/stylesheets/styles.css?v=1.0')
    //if lt IE 9
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body.battle
    .overlay
      .overlay-content.centered
        h1
          | Pepe WINS!!!
          span.lead
        p
          | Vostre summarios publication es uno, via e europee summario summarios. Su americano involvite pan. Que titulo capital complete il. Inter periodicos in qui, unic lateres unidirectional pro ma, in nomine maximo abstracte pan. Pan super linguas se. Le tamben populos pro, per iala celo e.
        .btn-panel.btn-group
          a.btn.left(href='/ranking.html') Ranking
          a.btn.right(href='#') Cancel
    .main-content
      section.grid.grid-12.panel
        .col.col-12.battle-canvas-wrap
          | Here goes the battle...
        .btn-panel.btn-group
          a.btn.btn-big.right(href='#') Cancel
    //
      end main-content
    footer
    script(src='/assets/javascripts/libs/jquery-1.9.1.min.js')
    script(src='/assets/javascripts/libs/custom_form.min.js')
    script(src='/assets/javascripts/scripts.js')

