doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drones must Die
    meta(name='description', content='Drones Must Die')
    meta(name='author', content='Redradix')
    link(rel='stylesheet', href='/assets/stylesheets/styles.css?v=1.0')
    link(rel='stylesheet', href='/assets/stylesheets/ambiance.css')
    //if lt IE 9
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body.code-editor
    .main-content
      section.grid.grid-12.panel
        .col.col-3
          h2 Choose your bot
          ul.v-list.my-robots-list
            li.list-item
              | My First Robot
            li.list-item
              | My Second Robot
            li.list-item
              | My Third Robot
            li.list-item
              | My Fourth Robot
            li.list-item
              | My First Robot
            li.list-item
              | My Second Robot
            li.list-item
              | My Third Robot
            li.list-item
              | My Fourth Robot
          form(action="")
            input.input-text.input-name(type='text', placeholder='Add new robot name')
            input.btn(type='button', value='+')
        .col.col-9
          h2.editor-title Code it!
          #editor
            | function foo(items) {
            | var x = "All this is syntax highlighted";
            | return x;
            | }
        .btn-panel.btn-group
          form(action='drones', method="post")
            input.btn(type='submit', value="Create")
          form(action='drones/test')
            input.btn(type='submit', value='Test')
          a.btn.ico-help(href='help.html') Help
          a.btn.btn-big.right(href='/drones/versus') To battle!!
    //
      end main-content
    footer
    script(src='/assets/javascripts/libs/jquery-1.9.1.min.js')
    script(src='/assets/javascripts/libs/custom_form.min.js')
    script(src='/src/ace.js', type='text/javascript', charset='utf-8')
    script(src='/src/theme-ambiance.js', type='text/javascript', charset='utf-8')
    script.
      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/ambiance");
      editor.getSession().setMode("ace/mode/javascript");
      document.getElementById('editor').style.fontSize='15px';
    script(src='/assets/javascripts/scripts.js')

