html(lang='en')
head
    meta(charset='UTF-8')
    title Drones Must Die
    link(rel='stylesheet', href='assets/stylesheets/styles.css?v=1.0')
  body
    .wrapper
      header.header-home
        .logo
          h3.left
            a(href='#') Drones Must Die
          a.btn.right(href='help.html') Help
    .main-content
      .hero
        .wrapper
          .hero-text.right-align
            h1 Drones Must Die
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus,Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          section
            .btn-group
              a.btn.btn-big.right(href='login') Log in
              a.btn.btn-big.right(href='code') Play
        //
          end hero
      //
        end wrapper
    //
      end main-content
    footer.main-footer
      p.small.centered
        | Omega Chi Delta
        a(href='http://hackaton.redradix.com/') Hackaton Redradix 2014 
        | &copycopyright 2014

