
//Buttons
 .btn, input.btn {
  @include border-radius( 4px );
  @include box-shadow( 0px 2px 1px rgba(0,0,0,.4) );
  @include text-shadow( 0 -1px 1px rgb(0,0,0) );
  @include linear-gradient( $color-base, #333637 );
  @include font-size( $font-size-epsilom );
  font-family: $heading-text;
  color: #929599;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  border-top: 1px solid lighten( $color-base, 10% );
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transform: translateY(0) scale(1,1);
 }

  .btn:hover {
    @include linear-gradient( $color-base, darken($color-secondary, 26%) );
    @include box-shadow( 0px 8px 6px rgba(0,0,0,.2) );
    transform: translateY(-2px) scale(1.1, 1.1);
    text-decoration: none;
  }  

  .btn:active {
    @include linear-gradient( $color-base, darken($color-base, 3%) );
    @include box-shadow( inset 0 0 8px darken($color-base, 10%) );
    border-top: 0px none;
    border-bottom: 1px solid lighten( $color-base, 10% );
    transform: translateY(-1px) scale(0.95, 0.95);
  }

.btn-small {
  @include font-size( $font-size-base );
  text-transform: capitalize;
}

.btn-big {
  @include rem(min-width, 120px);
  @include font-size( $font-size-delta );
  border: 1px solid darken($color-main, 25%);
  border-top: 1px solid darken($color-main, 18%);
  color: $color-main;
  text-transform: capitalize;
  &:hover {
    border: 1px solid darken($color-main, 18%);
    border-top: 1px solid darken($color-main, 15%);
  }
}

.btn.ico-help:before {
  margin-right: 16px;
  display: inline-block;
  vertical-align: middle;
}


