//Form elements

input, textarea, select {
  @include border-radius( 4px );
  @include box-shadow( inset 0 0 8px darken($color-base, 10%) );
  @include font-size( $font-size-base );
  @include rem( padding, 4px);
  font-family: $monospace-text;
  background-color: $color-base;
  color: $color-main;
  border: 1px solid darken($color-base, 12%) ;
  border-bottom: 1px solid lighten($color-base, 10%);
  line-height: 1.6;
  &:focus {
    @include box-shadow( inset 0 0 8px darken($color-base, 10%), 0 0 4px lighten($color-base, 10%)  );
  }
}

form label {
  @include font-size($font-size-base);
  @include text-shadow( 0 1px 1px rgb(0,0,0) );
  font-family: $heading-text;
  color: lighten($color-base, 25%);
  margin:0;
  font-weight: $regular;
  text-transform: uppercase;
}


//Custom Radio (custom_forms.js)

.radio {
  @include linear-gradient( darken($color-main, 5%), darken($color-main, 15%) );
  @include box-shadow( 0px 2px 1px rgba(0,0,0,.4) );
  @include rem( height, $pad );
  @include rem( width, $pad );
  @include border-radius(20px);
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  input {
    visibility: hidden;
  }

  &.checked_radio {
    @include linear-gradient(darken($color-main, 10%), darken($color-main, 5%) );
    @include box-shadow( inset 0 0 2px darken($color-base, 10%) );
    border-bottom: 1px solid lighten($color-main, 5%);
    &:before {
      display: block;
      height: 60%;
      width: 60%;
      margin: 20%;
      @include border-radius(20px);
      @include linear-gradient(darken($color-main, 25%), darken($color-main, 50%) );
      content: "";
    }
  }
}

//Custom CheckBox (custom_forms.js)

.checkbox {
  @include linear-gradient( darken($color-main, 1%), darken($color-main, 15%) );
  @include box-shadow( 0px 2px 1px rgba(0,0,0,.4) );
  @include rem( height, $pad );
  @include rem( width, $pad );
  @include border-radius(4px);
  display: inline-block;
  vertical-align: middle;
  text-align: center;

  input {
    visibility: hidden;
  }

  &.checked_checkbox {
    @include linear-gradient(darken($color-main, 10%), darken($color-main, 5%) );
    @include box-shadow( inset 0 1px 1px darken($color-base, 10%) );
    border-bottom: 1px solid lighten($color-main, 2%);
    &:before {
      @include border-radius(2px);
      display: block;
      height: 64%;
      width: 58%;
      margin: 20% 22%;
      @include linear-gradient(darken($color-main, 25%), darken($color-main, 50%) );
      content: "";
    }
  }
}
  //animated radios and checks
  .radio, .checkbox {
    @include rem( margin-right, $pad );
    transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transform: translateY(0) scale(1, 1);
  }
    .radio:hover, .checkbox:hover {
      @include box-shadow( 0px 4px 4px rgba(0,0,0,.2) );
      transform: translateY(-1px) scale(1.1, 1.1);
    }

//Form estructures

.form-row {
  @include rem( margin-bottom, $pad );
}