
//GRIDS

.grid {
	@include grid();

}
	.col {

	}
		.grid .col.grid {
			font-size: 0;
		}

	//Grid 3 cols
	.grid-3 {

		.col {
			@include col( 3,1 );
		}

	}

	//Grid 12 cols
	.grid-12 {
		//columna base
		.col {
			@include col( 12,1 );
		}

		//columna 100%
		.col-12 {
			@include col( 12,12 );
		}		
		//columna 10
		.col-10 {
			@include col( 12,10 );
		}		
		//columna 9
		.col-9 {
			@include col( 12,9 );
		}
		//columna 75%
		.col-8 {
			@include col( 12,8 );
		}		
		//columna 7
		.col-7 {
			@include col( 12,7 );
		}
		//columna 50%
		.col-6 {
			@include col( 12,6 );
		}			
		//columna 5
		.col-5 {
			@include col( 12,5 );
		}	
		//columna 33%
		.col-4 {
			@include col( 12,4 );
		}
		//columna 25%		
		.col-3 {
			@include col( 12,3 );
		}

	}