//icons
@include font-face('icons', 'dronemustdie-ico');


[class^="ico-"], [class*=" ico-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before {
    font-family: 'icons';
    vertical-align: middle;
  }
}

.ico-help:before {
  content: "\e601";
}
.ico-roboto:before {

  content: "\e600";
}
.ico-gear:before {
  content: "\e602";
}
