//Lists


//Vertical Item List

.v-list {
  @include rem( margin-bottom, $pad );
  @include box-shadow( 0px 2px 4px rgba(0,0,0,.4) );
  @include border-radius(4px);

  .list-item {
    @include rem(padding, 8px $pad );
    @include text-shadow( 0 -1px 1px rgb(0,0,0) );
    @include font-size( $font-size-zeta );
    cursor: pointer;
    list-style: none;
    border: 1px solid darken($color-base, 5%);
    border-top: 1px solid lighten($color-base, 10%);
    position: relative;
    background-color: #333637;
    color: lighten($color-base, 35%);
    font-family: $heading-text;

    &:hover {
      @include linear-gradient(  #333637, $color-base );
    }

    &:first-of-type{
      @include border-radius(4px 4px 0 0);
    }

    &:last-of-type{
      @include border-radius(0 0 4px 4px);
    }

    &.is-current {
      @include linear-gradient( $color-base, darken($color-base, 3%) );
      @include box-shadow( inset 0 0 8px darken($color-base, 10%) );
      color: $color-main;
      border-top: 1px solid  darken($color-base, 5%);
      
      &:after {
        content: "";
        display: block;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 16px solid darken($color-base, 5%);
        position: absolute;
        right: -16px;
        top: 50%;
        margin-top: -16px;
        display: none;
      }      
    }
  }


    a {
      display: block;
      text-decoration: none;
    }

    .is-current a {
      color: $color-main;
    }

}


//Opponents Lists

.opponents-list{
  .list-item{
    @include rem(padding-right, 64px);
  }

  .list-item.is-current {
    &:after {
      right: auto;
      left: -16px;
      border-left: 0px none;
      border-right: 16px solid darken($color-base, 5%);
      display: none;
    }
  }
    .name {
      @include font-size($font-size-epsilom);
    }
    .creator {
      @include font-size($font-size-base);
      display: block;
      font-family: $body-text;
      color: #fff;
    }

    .rank {
      color: lighten($color-base, 35%);
      @include font-size($font-size-mili);
      position: absolute;
      right: 20px;
      display: inline-block;
      
      em {
        display: block;
        @include font-size($font-size-epsilom);
        color: red;
        font-style: normal;
      }
      em:before {
        content: "#";
      }
    }


}