

 //Login
 .login{

    form {
    width: 60%;
    margin: 50px auto;

    fieldset {
      margin: 20px auto;
    }

    input[type="text"], input[type="password"] {
      width: 100%;
      display: block;
    }

    label {
      line-height: 2em;
    }

    input[type="submit"] {
      display: block;
      margin-bottom: 15px;
    }

    h3 {
      margin-top: 0;
    }
  }
}

//Home 

  .header-home {
    @include clearfix();
    padding-right: 40px;
    a:hover {
      text-decoration: none;
    }
    .btn {
      margin-top: 30px;
    }
  }

  .hero {
    width: 100%;
    //background-color: #ccc;
    background: url('../images/logo_03.png') no-repeat 5% center;
    padding: 50px;
    overflow: hidden;
    padding: 60px;

    .hero-text{
      float: right;
      width: 50%;
    }

    section {
      clear: both;
    }

    a {
      margin-left: 10px;
      width: 200px;
    }

    a:hover {
      text-decoration: none;
    }

    h1 {
      line-height: 2em;
    }


    .btn-group {
      .btn {
        @include rem(margin, 0 0 0 $pad);
      }
    }


  }

  .main-footer {
    p {
      margin-top: 20px;
    }
  }

//Ranking

  .ranking {
    h2 {
      margin-top: 0;
    }

    ol {
      margin-left: 20px;
    }

    li {
      padding: 10px 0;
    }
  }

//Help
  .help {
    h2 {
      margin-top: 0;
    }
  }

  code {
    background-color: #929599;
    padding: 20px;
    margin: 0 auto;
    color: #444;
    -webkit-box-shadow: 0 3px 8px black;
    -moz-box-shadow: 0 8px 8px black;
    box-shadow: 0 8px 8px black;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    
  }

  .box-code {
    text-align: center;
    padding: 40px;
    border-radius: 3px;
    
  }

  .mono {
    font-family: $monospace-text;
  }
