//Overlay Lightbox

.overlay{
  //display: none;
  position: fixed;
  z-index: 9999;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);


  .overlay-content {
    @include border-radius(8px);
    @include rem(padding, $pad);
    margin: 5% 10%;
    width: 80%;
    max-height: 90%;
    background-color: $color-base;
    background-image: url(../images/bg-texture-light.png);

  }


  .btn-panel {
    text-align: left;
    // @include box-sizing( border-box);
    // position: static;
    //background-image: url(../images/bg-texture.png);
  }
}





/* Effects */
.overlay {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay.open, .overlay-is-shown .overlay  {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);  
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
}