// Page: Code Editor

  #editor {
    @include rem(margin, 0 0 $pad $pad );
    //width: 100%;
    height: 400px;
    border: 1px solid #3D3D3D;
    border-bottom: 1px solid #3D3D3D;
  }
    .editor-title {
      @include rem(margin-left, $pad );
    }

  .my-robots-list {
    max-height: 300px;
    overflow-y: auto; 
    overflow-x: visible;
    .list-item {
      @include rem(padding-left, 6px);
      @extend .ico-roboto;
      &:before {
        @include font-size(28);
        vertical-align: middle;
        margin-right: 6px;
        font-family: 'icons';
      }

    }
  }




