//Page: Versus

.opponents-list {
    max-height: 400px;
    overflow-y: auto; 
    overflow-x: visible;
}

.my-robot {
  text-align: center;
  padding-right: 100px;
  position: relative;
}
  .versus-txt {
    @include text-shadow( 0 -1px 1px rgb(0,0,0) );
    color: $color-main;
    font-size: 48px;
    position: absolute;
    top: 50%;
    right: 40px;
  }
