//Battle Canvas

.battle-canvas-wrap {
  @include rem( margin, 0 auto $pad );
  @include box-shadow( 0px 2px 4px rgba(0,0,0,.4) );
  @include border-radius(4px);
  min-height: 400px;
  background-color: $color-base;

}