//Main content wrapper
  .wrapper{
    padding: 0 10%;
  }

//Box
.panel {
  @include box-shadow(0 8px 8px rgb(0,0,0));
  @include border-radius(8px);
  @include rem(padding, $pad);
  @include rem(margin, $pad);  
  background-color: $color-base;
  background-image: url(../images/bg-texture-light.png);
  border: 1px solid darken($color-base, 20%);
  border-top: 1px solid lighten($color-base, 5%);
}

  .btn-panel {
    @include box-shadow(inset 0 48px 48px -48px rgb(0,0,0));
    @include rem(padding, $pad);
    @include rem( left, (-$pad) );
    @include box-sizing( content-box );
    @include clearfix();
    width: 100%;
    position: relative;
    border-top: 1px solid lighten($color-base, 2%);
    .btn {
      @include rem(margin-right, $pad );
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
