@charset "UTF-8";
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  border: 0px none;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "AdventPro";
  src: url("../fonts/AdventPro-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/AdventPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AdventPro-Regular.woff") format("woff"), url("../fonts/AdventPro-Regular.ttf") format("truetype"), url("../fonts/AdventPro-Regular.svg#AdventPro") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "LatoLight";
  src: url("../fonts/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg#LatoLight") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 112.5%;
}

body {
  font-size: 18px;
  font-size: 1rem;
  font-family: "LatoLight", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #929599;
  line-height: 1.2;
  background-image: url(../images/bg-texture.png);
  background-color: #2b2f33;
}

h1, .alfa {
  font-size: 53.74771px;
  font-size: 2.98598rem;
}

h2, .beta {
  font-size: 44.78976px;
  font-size: 2.48832rem;
}

h3, .gamma {
  font-size: 37.3248px;
  font-size: 2.0736rem;
}

h4, .delta {
  font-size: 31.104px;
  font-size: 1.728rem;
}

h5, .epsilon {
  font-size: 25.92px;
  font-size: 1.44rem;
}

h6, .zeta {
  font-size: 21.6px;
  font-size: 1.2rem;
}

.giga {
  font-size: 92.87605px;
  font-size: 5.15978rem;
}

.mega {
  font-size: 77.39671px;
  font-size: 4.29982rem;
}

.kilo {
  font-size: 64.49725px;
  font-size: 3.58318rem;
}

.mili {
  font-size: 14.4px;
  font-size: 0.8rem;
}

.micro {
  font-size: 10.8px;
  font-size: 0.6rem;
}

h1, h2, h3, h4, h5, h6, legend {
  -webkit-text-shadow: 0 -2px 1px black;
  -moz-text-shadow: 0 -2px 1px black;
  text-shadow: 0 -2px 1px black;
  margin-bottom: 28.8px;
  margin-bottom:  28.8px;
  font-family: "AdventPro", Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
}

h1 small, h2 small, h3 small {
  font-size: 50%;
  display: block;
  line-height: 1;
}

legend {
  font-size: 21.6px;
  font-size: 1.2rem;
}

em {
  font-style: normal;
  text-transform: uppercase;
}

a {
  color: #836f26;
  text-decoration: none;
  outline: 0px none !important;
  transition: all 500ms;
}
a:hover {
  text-decoration: underline;
  color: #a38a2f;
}

abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted #929599;
}

small {
  font-size: 76%;
}

strong {
  font-weight: 600;
}

hr {
  border: 0 none;
  height: 0;
  clear: both;
  display: block;
  font-size: 44.78976px;
  font-size: 2.48832rem;
  padding: 0 0 24px;
  padding:  0 0 2rem;
  text-align: center;
}

hr:before {
  color: #929599;
  content: "·····";
  height: 0;
  letter-spacing: .15em;
}

pre {
  white-space: pre-line;
}

p {
  margin: 0 0 24px;
  margin:  0 0 2rem;
}

.lead {
  font-size: 31.104px;
  font-size: 1.728rem;
}

ul, ol, dl {
  margin: 0;
  padding: 0;
}

blockquote {
  position: relative;
  font-style: italic;
  color: #929599;
  font-size: 18px;
  font-size: 1rem;
}
blockquote cite {
  display: block;
}

q {
  quotes: "“" "”" "‘" "’";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

img, video, object {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
}

.centered {
  text-align: center;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: 0 auto;
}

.no-float {
  float: none;
}

.inline-content {
  display: inline-block;
  float: none;
}

.is-vanished {
  display: none !important;
  visibility: hidden !important;
}

.is-hidden, .screen-reader-text {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  top: -500000em;
}

.not-hidden {
  position: relative !important;
  width: auto;
  height: auto;
  top: 0;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.streched {
  max-width: 80%;
  margin: 0 auto;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zindex {
  z-index: 444 !important;
}

.error, .warning {
  color: #d23817;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/dronemustdie-ico.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/dronemustdie-ico.eot?#iefix") format("embedded-opentype"), url("../fonts/dronemustdie-ico.woff") format("woff"), url("../fonts/dronemustdie-ico.ttf") format("truetype"), url("../fonts/dronemustdie-ico.svg#icons") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

[class^="ico-"], [class*=" ico-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="ico-"]:before, [class*=" ico-"]:before {
  font-family: 'icons';
  vertical-align: middle;
}

.ico-help:before {
  content: "\e601";
}

.ico-roboto:before, .my-robots-list .list-item:before {
  content: "\e600";
}

.ico-gear:before {
  content: "\e602";
}

.grid {
  font-size: 0;
}

.grid .col.grid {
  font-size: 0;
}

.grid-3 .col {
  width: 33.33333%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}

.grid-12 .col {
  width: 8.33333%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}
.grid-12 .col-12 {
  width: 100%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}
.grid-12 .col-10 {
  width: 83.33333%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}
.grid-12 .col-9 {
  width: 75%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}
.grid-12 .col-8 {
  width: 66.66667%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}
.grid-12 .col-7 {
  width: 58.33333%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}
.grid-12 .col-6 {
  width: 50%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}
.grid-12 .col-5 {
  width: 41.66667%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}
.grid-12 .col-4 {
  width: 33.33333%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}
.grid-12 .col-3 {
  width: 25%;
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-size: 1rem;
}

input, textarea, select {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: inset 0 0 8px #141617;
  -moz-box-shadow: inset 0 0 8px #141617;
  box-shadow: inset 0 0 8px #141617;
  font-size: 18px;
  font-size: 1rem;
  padding: 4px;
  padding: 0.33333rem;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  background-color: #2b2f33;
  color: #a38a2f;
  border: 1px solid #0f1012;
  border-bottom: 1px solid #42494f;
  line-height: 1.6;
}
input:focus, textarea:focus, select:focus {
  -webkit-box-shadow: inset 0 0 8px #141617, 0 0 4px #42494f;
  -moz-box-shadow: inset 0 0 8px #141617, 0 0 4px #42494f;
  box-shadow: inset 0 0 8px #141617, 0 0 4px #42494f;
}

form label {
  font-size: 18px;
  font-size: 1rem;
  -webkit-text-shadow: 0 1px 1px black;
  -moz-text-shadow: 0 1px 1px black;
  text-shadow: 0 1px 1px black;
  font-family: "AdventPro", Helvetica, sans-serif;
  color: #656f78;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
}

.radio {
  background-color: #68581e;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8f7929), to(#68581e));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #8f7929, #68581e);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #8f7929, #68581e);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #8f7929, #68581e);
  /* IE10 */
  background-image: -o-linear-gradient(top, #8f7929, #68581e);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #8f7929, #68581e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#8f7929', EndColorStr='#68581e');
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  height: 28.8px;
  height:  28.8px;
  width: 28.8px;
  width:  28.8px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.radio input {
  visibility: hidden;
}
.radio.checked_radio {
  background-color: #8f7929;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7b6824), to(#8f7929));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #7b6824, #8f7929);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #7b6824, #8f7929);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #7b6824, #8f7929);
  /* IE10 */
  background-image: -o-linear-gradient(top, #7b6824, #8f7929);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #7b6824, #8f7929);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7b6824', EndColorStr='#8f7929');
  -webkit-box-shadow: inset 0 0 2px #141617;
  -moz-box-shadow: inset 0 0 2px #141617;
  box-shadow: inset 0 0 2px #141617;
  border-bottom: 1px solid #b79b35;
}
.radio.checked_radio:before {
  display: block;
  height: 60%;
  width: 60%;
  margin: 20%;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-color: black;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#403612), to(black));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #403612, black);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #403612, black);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #403612, black);
  /* IE10 */
  background-image: -o-linear-gradient(top, #403612, black);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #403612, black);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#403612', EndColorStr='black');
  content: "";
}

.checkbox {
  background-color: #68581e;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9f872e), to(#68581e));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #9f872e, #68581e);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #9f872e, #68581e);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #9f872e, #68581e);
  /* IE10 */
  background-image: -o-linear-gradient(top, #9f872e, #68581e);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #9f872e, #68581e);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#9f872e', EndColorStr='#68581e');
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  height: 28.8px;
  height:  28.8px;
  width: 28.8px;
  width:  28.8px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.checkbox input {
  visibility: hidden;
}
.checkbox.checked_checkbox {
  background-color: #8f7929;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7b6824), to(#8f7929));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #7b6824, #8f7929);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #7b6824, #8f7929);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #7b6824, #8f7929);
  /* IE10 */
  background-image: -o-linear-gradient(top, #7b6824, #8f7929);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #7b6824, #8f7929);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7b6824', EndColorStr='#8f7929');
  -webkit-box-shadow: inset 0 1px 1px #141617;
  -moz-box-shadow: inset 0 1px 1px #141617;
  box-shadow: inset 0 1px 1px #141617;
  border-bottom: 1px solid #ab9131;
}
.checkbox.checked_checkbox:before {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  display: block;
  height: 64%;
  width: 58%;
  margin: 20% 22%;
  background-color: black;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#403612), to(black));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #403612, black);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #403612, black);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #403612, black);
  /* IE10 */
  background-image: -o-linear-gradient(top, #403612, black);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #403612, black);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#403612', EndColorStr='black');
  content: "";
}

.radio, .checkbox {
  margin-right: 28.8px;
  margin-right:  28.8px;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0) scale(1, 1);
}

.radio:hover, .checkbox:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px) scale(1.1, 1.1);
}

.form-row {
  margin-bottom: 28.8px;
  margin-bottom:  28.8px;
}

.btn, input.btn {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
  -webkit-text-shadow: 0 -1px 1px black;
  -moz-text-shadow: 0 -1px 1px black;
  text-shadow: 0 -1px 1px black;
  background-color: #333637;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b2f33), to(#333637));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2b2f33, #333637);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2b2f33, #333637);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #2b2f33, #333637);
  /* IE10 */
  background-image: -o-linear-gradient(top, #2b2f33, #333637);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #2b2f33, #333637);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2b2f33', EndColorStr='#333637');
  font-size: 25.92px;
  font-size: 1.44rem;
  font-family: "AdventPro", Helvetica, sans-serif;
  color: #929599;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  border-top: 1px solid #42494f;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(0) scale(1, 1);
}

.btn:hover {
  background-color: #494030;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b2f33), to(#494030));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2b2f33, #494030);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2b2f33, #494030);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #2b2f33, #494030);
  /* IE10 */
  background-image: -o-linear-gradient(top, #2b2f33, #494030);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #2b2f33, #494030);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2b2f33', EndColorStr='#494030');
  -webkit-box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px) scale(1.1, 1.1);
  text-decoration: none;
}

.btn:active {
  background-color: #24272b;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b2f33), to(#24272b));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2b2f33, #24272b);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2b2f33, #24272b);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #2b2f33, #24272b);
  /* IE10 */
  background-image: -o-linear-gradient(top, #2b2f33, #24272b);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #2b2f33, #24272b);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2b2f33', EndColorStr='#24272b');
  -webkit-box-shadow: inset 0 0 8px #141617;
  -moz-box-shadow: inset 0 0 8px #141617;
  box-shadow: inset 0 0 8px #141617;
  border-top: 0px none;
  border-bottom: 1px solid #42494f;
  transform: translateY(-1px) scale(0.95, 0.95);
}

.btn-small {
  font-size: 18px;
  font-size: 1rem;
  text-transform: capitalize;
}

.btn-big {
  min-width: 120px;
  min-width: 10rem;
  font-size: 31.104px;
  font-size: 1.728rem;
  border: 1px solid #403612;
  border-top: 1px solid #5c4e1a;
  color: #a38a2f;
  text-transform: capitalize;
}
.btn-big:hover {
  border: 1px solid #5c4e1a;
  border-top: 1px solid #68581e;
}

.btn.ico-help:before {
  margin-right: 16px;
  display: inline-block;
  vertical-align: middle;
}

.login form {
  width: 60%;
  margin: 50px auto;
}
.login form fieldset {
  margin: 20px auto;
}
.login form input[type="text"], .login form input[type="password"] {
  width: 100%;
  display: block;
}
.login form label {
  line-height: 2em;
}
.login form input[type="submit"] {
  display: block;
  margin-bottom: 15px;
}
.login form h3 {
  margin-top: 0;
}

.header-home {
  padding-right: 40px;
}
.header-home:before, .header-home:after {
  content: "";
  display: table;
}
.header-home:after {
  clear: both;
}
.header-home a:hover {
  text-decoration: none;
}
.header-home .btn {
  margin-top: 30px;
}

.hero {
  width: 100%;
  background: url("../images/logo_03.png") no-repeat 5% center;
  padding: 50px;
  overflow: hidden;
  padding: 60px;
}
.hero .hero-text {
  float: right;
  width: 50%;
}
.hero section {
  clear: both;
}
.hero a {
  margin-left: 10px;
  width: 200px;
}
.hero a:hover {
  text-decoration: none;
}
.hero h1 {
  line-height: 2em;
}
.hero .btn-group .btn {
  margin: 0 0 0 28.8px;
  margin:  0 0 0 28.8px;
}

.main-footer p {
  margin-top: 20px;
}

.ranking h2 {
  margin-top: 0;
}
.ranking ol {
  margin-left: 20px;
}
.ranking li {
  padding: 10px 0;
}

.help h2 {
  margin-top: 0;
}

code {
  background-color: #929599;
  padding: 20px;
  margin: 0 auto;
  color: #444;
  -webkit-box-shadow: 0 3px 8px black;
  -moz-box-shadow: 0 8px 8px black;
  box-shadow: 0 8px 8px black;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.box-code {
  text-align: center;
  padding: 40px;
  border-radius: 3px;
}

.mono {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
}

.v-list {
  margin-bottom: 28.8px;
  margin-bottom:  28.8px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.v-list .list-item {
  padding: 8px 28.8px;
  padding:  0.66667rem 28.8px;
  -webkit-text-shadow: 0 -1px 1px black;
  -moz-text-shadow: 0 -1px 1px black;
  text-shadow: 0 -1px 1px black;
  font-size: 21.6px;
  font-size: 1.2rem;
  cursor: pointer;
  list-style: none;
  border: 1px solid #1f2225;
  border-top: 1px solid #42494f;
  position: relative;
  background-color: #333637;
  color: #7e8892;
  font-family: "AdventPro", Helvetica, sans-serif;
}
.v-list .list-item:hover {
  background-color: #2b2f33;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333637), to(#2b2f33));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #333637, #2b2f33);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #333637, #2b2f33);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #333637, #2b2f33);
  /* IE10 */
  background-image: -o-linear-gradient(top, #333637, #2b2f33);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #333637, #2b2f33);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#333637', EndColorStr='#2b2f33');
}
.v-list .list-item:first-of-type {
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.v-list .list-item:last-of-type {
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
.v-list .list-item.is-current {
  background-color: #24272b;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b2f33), to(#24272b));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #2b2f33, #24272b);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(top, #2b2f33, #24272b);
  /* FF3.6 */
  background-image: -ms-linear-gradient(top, #2b2f33, #24272b);
  /* IE10 */
  background-image: -o-linear-gradient(top, #2b2f33, #24272b);
  /* Opera 11.10+ */
  background-image: linear-gradient(top, #2b2f33, #24272b);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#2b2f33', EndColorStr='#24272b');
  -webkit-box-shadow: inset 0 0 8px #141617;
  -moz-box-shadow: inset 0 0 8px #141617;
  box-shadow: inset 0 0 8px #141617;
  color: #a38a2f;
  border-top: 1px solid #1f2225;
}
.v-list .list-item.is-current:after {
  content: "";
  display: block;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #1f2225;
  position: absolute;
  right: -16px;
  top: 50%;
  margin-top: -16px;
  display: none;
}
.v-list a {
  display: block;
  text-decoration: none;
}
.v-list .is-current a {
  color: #a38a2f;
}

.opponents-list .list-item {
  padding-right: 64px;
  padding-right: 5.33333rem;
}
.opponents-list .list-item.is-current:after {
  right: auto;
  left: -16px;
  border-left: 0px none;
  border-right: 16px solid #1f2225;
  display: none;
}
.opponents-list .name {
  font-size: 25.92px;
  font-size: 1.44rem;
}
.opponents-list .creator {
  font-size: 18px;
  font-size: 1rem;
  display: block;
  font-family: "LatoLight", Helvetica, Arial, sans-serif;
  color: #fff;
}
.opponents-list .rank {
  color: #7e8892;
  font-size: 14.4px;
  font-size: 0.8rem;
  position: absolute;
  right: 20px;
  display: inline-block;
}
.opponents-list .rank em {
  display: block;
  font-size: 25.92px;
  font-size: 1.44rem;
  color: red;
  font-style: normal;
}
.opponents-list .rank em:before {
  content: "#";
}

.wrapper {
  padding: 0 10%;
}

.panel {
  -webkit-box-shadow: 0 8px 8px black;
  -moz-box-shadow: 0 8px 8px black;
  box-shadow: 0 8px 8px black;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 28.8px;
  padding:  28.8px;
  margin: 28.8px;
  margin:  28.8px;
  background-color: #2b2f33;
  background-image: url(../images/bg-texture-light.png);
  border: 1px solid black;
  border-top: 1px solid #373c41;
}

.btn-panel {
  -webkit-box-shadow: inset 0 48px 48px -48px black;
  -moz-box-shadow: inset 0 48px 48px -48px black;
  box-shadow: inset 0 48px 48px -48px black;
  padding: 28.8px;
  padding:  28.8px;
  left: -28.8px;
  left:  -28.8px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  position: relative;
  border-top: 1px solid #303439;
}
.btn-panel:before, .btn-panel:after {
  content: "";
  display: table;
}
.btn-panel:after {
  clear: both;
}
.btn-panel .btn {
  margin-right: 28.8px;
  margin-right:  28.8px;
}
.btn-panel .btn:last-of-type {
  margin-right: 0;
}

.overlay {
  position: fixed;
  z-index: 9999;
  margin: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.overlay .overlay-content {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 28.8px;
  padding:  28.8px;
  margin: 5% 10%;
  width: 80%;
  max-height: 90%;
  background-color: #2b2f33;
  background-image: url(../images/bg-texture-light.png);
}
.overlay .btn-panel {
  text-align: left;
}

/* Effects */
.overlay {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay.open, .overlay-is-shown .overlay {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  .overlay ul li {
    min-height: 34px;
  }
}
#editor {
  margin: 0 0 28.8px 28.8px;
  margin:  0 0 28.8px 28.8px;
  height: 400px;
  border: 1px solid #3D3D3D;
  border-bottom: 1px solid #3D3D3D;
}

.editor-title {
  margin-left: 28.8px;
  margin-left:  28.8px;
}

.my-robots-list {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: visible;
}
.my-robots-list .list-item {
  padding-left: 6px;
  padding-left: 0.5rem;
}
.my-robots-list .list-item:before {
  font-size: 28px;
  font-size: 1.55556rem;
  vertical-align: middle;
  margin-right: 6px;
  font-family: 'icons';
}

.opponents-list {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: visible;
}

.my-robot {
  text-align: center;
  padding-right: 100px;
  position: relative;
}

.versus-txt {
  -webkit-text-shadow: 0 -1px 1px black;
  -moz-text-shadow: 0 -1px 1px black;
  text-shadow: 0 -1px 1px black;
  color: #a38a2f;
  font-size: 48px;
  position: absolute;
  top: 50%;
  right: 40px;
}

.battle-canvas-wrap {
  margin: 0 auto 28.8px;
  margin:  0 auto 28.8px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  min-height: 400px;
  background-color: #2b2f33;
}

.pruebas {
  background-color: rgba(255, 0, 0, 0.2);
}
.pruebas div {
  background-color: rgba(255, 0, 0, 0.2);
}

.prueba-satanica {
  background: rgba(255, 0, 0, 0.2);
  border: 5px solid red;
}
