//HI-RES DEVICES: 

@include breakpoint( hi-res ) {


  body {
    background-image: url(../images/bg-texture_@2X.png);    
  }
    .panel {
      background-image: url(../images/bg-texture-light_@2X.png);      
    }

     .overlay {
        background-image: url(../images/bg-texture_@2X.png);    
      }   




}
