//mixins y variables globales

//Media Queries
	// usage:	
		// .page-wrap {
		// 	width: 80%;
		// 	@include breakpoint(desktop) {
		// 		width: 100%;
		// 	}
		// }
	@mixin breakpoint($point) {
		@if $point == big { // Big, Displays bigger than 1280px
			@media (min-width: $breakpoint-medium) { @content; }
		}
		@if $point == medium { // Standard medium, Displays bigger than 900px and smaller than 1280px
			@media (max-width: $breakpoint-medium) { @content; }
		}
		@if $point == small { // Small devices, smaller than 800px
			@media (max-width: $breakpoint-small) { @content; }
		}

		@if $point == very-small {  // Smaller devices, smaller than 320px
			@media (max-width: $breakpoint-very-small) { @content; }
		}

		@if $point == hi-res { // High Resolution devices
			@media (min--moz-device-pixel-ratio: 1.3),
				(-o-min-device-pixel-ratio: 2.6/2),
				(-webkit-min-device-pixel-ratio: 1.3),
				(min-device-pixel-ratio: 1.3),
				(min-resolution: 1.3dppx) { @content; }
		}
	
	}

	

	//Retina images
		@mixin image-2x($image, $width, $height) {
			@media (min--moz-device-pixel-ratio: 1.3),
				(-o-min-device-pixel-ratio: 2.6/2),
				(-webkit-min-device-pixel-ratio: 1.3),
				(min-device-pixel-ratio: 1.3),
				(min-resolution: 1.3dppx) {
				/* on retina, use image that's scaled by 2 */
					background-image: url($image);
					background-size: $width $height;
			}
		}


//********************//
//Tipografía
//********************//

	//Font Family
		// mixin para la sintaxis de la declaración de familias tipográficas
		//uso:
		// @include font-face('Gotham', 'GothaHTFLig', 200);
			@mixin font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
				@font-face {
					font-family: '#{$font-family}';
					src: url('../fonts/#{$font-filename}.eot'); /* IE9 Compat Modes */
					src: url('../fonts/#{$font-filename}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
					url('../fonts/#{$font-filename}.woff') format('woff'), /* Modern Browsers */
					url('../fonts/#{$font-filename}.ttf') format('truetype'), /* Safari, Android, iOS */
					url('../fonts/#{$font-filename}.svg##{$font-family}') format('svg'); /* Legacy iOS */
					font-weight: $font-weight;
					font-style: $font-style;
					font-stretch: $font-stretch;
				}
			}


	// Font-size en rems y pixels
		@mixin font-size($sizeValue: 12 ) {
			font-size: $sizeValue + px;
			font-size: ($sizeValue / $font-base) + rem;
		}



//Tamaños en REMs

	@mixin rem($property, $px-values) {
	  // Convert the baseline into rems
	  $baseline-rem: $baseline-px / 1rem;
	  // Print the first line in pixel values
	  #{$property}: $px-values;
	  // If there is only one (numeric) value, return the property/value line for it.
	  @if type-of($px-values) == "number" {
	    #{$property}: $px-values / $baseline-rem; }
	  @else {
	    // Create an empty list that we can dump values into
	    $rem-values: unquote("");
	    @each $value in $px-values {
	      // If the value is zero or a string or a color, return unchanged input
	      @if $value == 0 or type-of($value) == "string" or type-of($value) == "color" {
	        $rem-values: append($rem-values, $value); }
	      @else {
	        $rem-values: append($rem-values, $value / $baseline-rem); } }
	    // Return the property and its list of converted values
	    #{$property}: $rem-values; } }

	    //uso:
	    //	.elemento {
  		//		@include rem('border', 1px solid red);
  		//		@include rem('padding', 10px 20px 10px);
		//	}



//*************//
// CSS3
//************//

	// Box Model
	@mixin box-sizing($box-model) {
	  -webkit-box-sizing: $box-model; // Safari <= 5
	     -moz-box-sizing: $box-model; // Firefox <= 19
	          box-sizing: $box-model;
	}

	//Border radius
	@mixin border-radius($radius) {
	  -webkit-border-radius: $radius;
	  border-radius: $radius;
	  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
	}

	//Box Shadow
	@mixin box-shadow($shadow...) {
		-webkit-box-shadow: $shadow;
		-moz-box-shadow: $shadow;
		box-shadow: $shadow;
	}	

	//Text Shadow
	@mixin text-shadow($shadow...) {
		-webkit-text-shadow: $shadow;
		-moz-text-shadow: $shadow;
		text-shadow: $shadow;
	}

	//Opacity
	@mixin opacity($opacity) {
	  opacity: $opacity;
	  $opacity-ie: $opacity * 100;
	  filter: alpha(opacity=$opacity-ie); //IE8
	}


	//Background Opacity
		//uso: 
		// .elemento {
		//      @include background-opacity(#333, 0.5);
		// }	
		@mixin background-opacity($color, $opacity: 0.3) {
		    background: $color; /* fallback */
		    background: rgba($color, $opacity);
		}

		//Gradients
		//usage:
			// .box {
			//     @include linear-gradient(#000, #BADA55);
			// }

			@mixin linear-gradient($fromColor, $toColor) {
			  background-color: $toColor; /* Fallback Color */
			  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
			  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
			  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
			  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
			  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
			  background-image:         linear-gradient(top, $fromColor, $toColor);
			  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
			}



	// CLASES CSS
		//Clears floats on a container
		@mixin clearfix() {
			&:before,
			&:after {
				content: "";
				display: table;
			}
			&:after {
				clear: both;
			}
		}

		//textos ocultos
		@mixin is-hidden() {
			position: absolute !important;
	    overflow: hidden;
	    width: 1px;
	    height: 1px;
	    padding: 0;
	    border: 0;
	    clip: rect(1px, 1px, 1px, 1px);
	    top: -500000em;
		}

		//Box Sizing
		@mixin box-sizing($box-model) {
			-webkit-box-sizing: $box-model; // Safari <= 5
			-moz-box-sizing: $box-model; // Firefox <= 19
			box-sizing: $box-model;
		}



//GRID
	//Uso:
	//el primer valor es el número de columas del grid, y el segundo valor es el ancho en columnas de nuestro elemento, pe:
	// .elemento{
	// 	@include col(2, 1);
	// }
		@mixin col($grid, $cols ) {
			//número de columnas de nuestro grid
				$col-base: $grid;
			//calculamos el ancho base de una columna
				$base-width: ( 100 / $col-base ); 
			//calculamos el ancho que queremos para nuestro elemento según el número de columnas de la grid que ocupa.
			width: ($base-width * $cols) + 0%;
			display: inline-block; 
			letter-spacing: normal;
			word-spacing: normal;
			vertical-align: top;
			@include box-sizing( border-box );
			@include font-size( $font-base );

		}	

	// Se añade al elemento que hace de contenedor de las columnas para evitar el espacio extra que aparece entre estas. 
	// .elemento-padre{
	// 	@include grid();
	// }
		@mixin grid() {
			//letter-spacing: -0.31em; /* webkit */
    	//*letter-spacing: normal; /* reset IE < 8 */
    	//word-spacing: -0.43em; /* IE < 8 && gecko */ 
			font-size: 0;
		}	


	//alinear onjetos verticalmente (IE < 9)
	//uso: 
	// .element0 p {
	//   @include %vertical-align;
	// }
		@mixin vertical-align {
		  position: relative;
		  top: 50%;
		  -webkit-transform: translateY(-50%);
		  -moz-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);
		}



//Background stripes CSS3
@mixin stripes-bg {
	background-size: 6px 6px;
	background-color: transparent;
	background-image: -webkit-linear-gradient(-45deg, rgba(0,0,0, .06) 20%, transparent 20%,
	                  transparent 60%, rgba(0,0,0, .06) 60%, rgba(0,0,0, .06) 70%,
	                  transparent 70%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(0,0,0, .06) 20%, transparent 20%,
	                  transparent 60%, rgba(0,0,0, .06) 60%, rgba(0,0,0, .06) 70%,
	                  transparent 70%, transparent);
	background-image: linear-gradient(135deg, rgba(0,0,0, .06) 20%, transparent 20%,
	                  transparent 60%, rgba(0,0,0, .06) 60%, rgba(0,0,0, .06) 70%,
	                  transparent 70%, transparent);
	-pie-background: linear-gradient(135deg, rgba(0,0,0, .06) 20%, transparent 20%,
	                  transparent 60%, rgba(0,0,0, .06) 60%, rgba(0,0,0, .06) 70%,
	                  transparent 70%, transparent) 0 0 / 6px 6px, #ccc;
	behavior: url(/pie/PIE.htc);

}






//PRUEBAS


		@mixin shoggoth() {
			background: $color-pruebas;
			border: 5px solid red;
		}





