// Breakpoints

$breakpoint-very-small: 	320px;
$breakpoint-small: 				800px;
$breakpoint-medium: 			1280px;




//********************//		
// Tipografía
//*******************//

		// Variables para font-face
		$body-text:  			"LatoLight", Helvetica, Arial, sans-serif;
		$heading-text: 		"AdventPro", Helvetica, sans-serif;
		$alternate-text: 	Georgia, Helvetica, sans-serif;
		$monospace-text: 	'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;

	// tamaño base, medido en pixels
	// El valor debe ser el mismo que el valor del font-size del elemento html
	$baseline-px: 12px;


	//Base font size
		$font-base: 18;
		$document-font-size: ($font-base / 16) * 100%;
		$scale: 1.2;

	// Tamaños de fuente extendidos
		$font-size-base: 			$font-base;						// body text

		$font-size-micro: 		$font-base * 0.6;			// extra-small
		$font-size-mili: 			$font-base * 0.8;			// small copy
		
		$font-size-zeta: 			$font-base * $scale; 					// h6
		$font-size-epsilom: 	$font-size-zeta * $scale;			// h5
		$font-size-delta: 		$font-size-epsilom * $scale;	// h4
		$font-size-gamma: 		$font-size-delta * $scale;		// h3
		$font-size-beta: 			$font-size-gamma * $scale;		// h2
		$font-size-alfa: 			$font-size-beta * $scale;			// h1

		$font-size-kilo: 			$font-size-alfa * $scale;			// extra-large
		$font-size-mega: 			$font-size-kilo * $scale;			// extra-Xlarge
		$font-size-giga: 			$font-size-mega * $scale;			// jumbotronik



	// Font-weight
		$bold: 800;
		$semiBold: 600;
		$regular: 400;

	// Base padding-margin
		$pad: ($font-base * 1.6) + px;

//*******************//
//Colores
//*******************//

	// Main Color
	$color-main: #a38a2f;

	// Secondary Color
	$color-secondary: #998764;

	//Base Greys
	$color-base: #2b2f33;


	//Texts Color
	$color-text: #929599;

	//color links
	$color-link: $color-main;
	$color-link-hover: $color-main;

	//color error
	$color-error: #d23817;


	//Pruebas		
		$color-pruebas: rgba(255,0,0,.2);